//
// Partials -> Color
// ------------------------------------


//
// color ui kit//
.header-uikit__logo{
    margin: 30px auto auto 30px;    
}

.colors{
    display: flex;
    position: absolute;
    width: auto;
    height: auto;
    margin-left: 150px;
    margin-top: 67px;
    margin-right: 427px;
}
.colorbox_item {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin: 0 20px 20px 0;  
}
.dark100{
    background: #1F2041;
}
.dark75{
    background: rgba(31, 32, 65, 0.75);
}
.dark50{
    background: rgba(31, 32, 65, 0.5);
}
.dark25{
    background: rgba(31, 32, 65, 0.25);
}
.dark5{
    background: rgba(31, 32, 65, 0.5);
}
.purple{
    background: $pagination-border;    
}
.green{
    background: #6FCF97;
}
h1, h2, h3 { 
    margin-top: 0;
}
.color_info {
    width: auto;
    height: auto;
} 
.color__info_item{
    height: 70px;
    margin: 5px 0px 20px 20px;    
}

.type__wrap{
    padding-left: 437px;
   //padding-right: 197px;        
}
.type-item{ 
    display: flex;
    
}
.type-item_h1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    text-align: right;
    /* Dark 25% */
    color: rgba(31, 32, 65, 0.25);
    margin-right: 30px;
    margin-bottom: 80px;
}
.type-item_h2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 23px;
    /* identical to box height */
    text-align: right;
    /* Dark 25% */
    color: rgba(31, 32, 65, 0.25);
    margin-right: 30px;
    margin-bottom: 75px;
}
.type-item_h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-align: end;
    text-transform: uppercase;
    /* Dark 25% */
    color: rgba(31, 32, 65, 0.25);
    margin-right: 30px;
    margin-bottom: 50px;
}
type-item_body{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    text-align: end;

    /* Dark 25% */

    color: rgba(31, 32, 65, 0.25);
    margin-right: 30px;
    margin-top: 50px;
}
.body-type{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    /* Dark 75% */
    color: rgba(31, 32, 65, 0.75);
    margin-left: 30px;
}