extends ../layouts/master.pug
//- Custom Configuration
block config
  - var adaptive = true // choose website type
  - var pageTitle = 'UI-kit'

block content
  main.page-main
    .container
      .header-uikit__logo
        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M23.9989 32.4712C23.2224 32.4712 22.5871 31.8359 22.5871 31.0594C22.5871 25.6241 18.14 21.177 12.7047 21.177C11.9283 21.177 11.293 20.5418 11.293 19.7653C11.293 18.9888 11.9283 18.3535 12.7047 18.3535C19.7283 18.3535 25.4106 24.0359 25.4106 31.0594C25.4106 31.8359 24.7753 32.4712 23.9989 32.4712Z" fill="#1F2041" fill-opacity="0.25"/>
        <path d="M36.7068 19.7653C36.7068 20.5418 36.0715 21.177 35.295 21.177C31.9421 21.177 28.9421 22.8712 27.1774 25.4476C26.7892 24.4594 26.3303 23.5418 25.7656 22.6947C28.095 20.0123 31.5186 18.3535 35.295 18.3535C36.0715 18.3535 36.7068 18.9888 36.7068 19.7653Z" fill="#1F2041" fill-opacity="0.25"/>
        <path d="M24 48C10.7647 48 0 37.2353 0 24C0 10.7647 10.7647 0 24 0C37.2353 0 48 10.7647 48 24C48 37.2353 37.2353 48 24 48ZM24 2.82353C12.3176 2.82353 2.82353 12.3176 2.82353 24C2.82353 35.6824 12.3176 45.1765 24 45.1765C35.6824 45.1765 45.1765 35.6824 45.1765 24C45.1765 12.3176 35.6824 2.82353 24 2.82353Z" fill="#1F2041" fill-opacity="0.25"/>
        </svg>
        // img(src="../assets/images/Group.svg", alt="toxingray")
      section.colorsAndType

        .colors
        include ../components/color-item/color-item.pug
          +colorItem({bg: '#1F2041', op: '1'}, {name:'Dark Shade 100%', number:'#1F2041'})
          +colorItem({bg: '#1F2041', op:'0.75'},{name:'Dark Shade 75%', number:'#1F2041'})
          +colorItem({bg: '#1F2041', op:'0.50'},{name:'Dark Shade 50%', number:'#1F2041'})
          +colorItem({bg: '#1F2041', op:'0.25'},{name:'Dark Shade 25%', number:'#1F2041'})
          +colorItem({bg: '#1F2041', op:'0.05'},{name:'Dark Shade 5%', number:'#1F2041'})
          +colorItem({bg: '#bc9cff', op:'1'},{name:'Purple', number:'#bc9cff'})
          +colorItem({bg: '#6fcf97', op:'1'},{name:'Green', number:'#6fcf97'})
        .type
          h1 H1: This one is the sub-section or widget title
          h2 H2: Next one is the item title inside widgets
          h3 H3: This is a label or CTA text
          p  Body This is the body text which is used for most of the design, like paragraphs, lists, etc.
            ol.list--number
              li You, minion. Lift my arm. AFTER HIM!
              li Kif, I have mated with a woman. Inform the men.
              li We're rescng ya.
              li That's the ONLY thing about being a slave.
              li You don't know how to do any of those.
            p All year long, the grasshopper kept burying acorns for winter, while the octopus mooched off his girlfriend and watched TV. But then the winter came, and the grasshopper died, and the octopus ate all his acorns.
      section.form
        h5 H5: Fully Customizable
        p You, minion. Lift my arm. AFTER HIM! It's just like the story of the grasshopper and the octopus. All year long, the grasshopper kept burying acorns for winter, while the octopus mooched off his girlfriend and watched TV.
        table.table
          thead
            tr
              th.t5
              th Product Name
              th Rating
              th Price
          tbody
            tr
              td: +fieldCheckbox('', 'table1', false)
              td Adidas EQT Cushion 91
              td
              td: b $145
            tr
              td: +fieldCheckbox('', 'table2', true)
              td Brita Water Filter
              td
              td: b $29
            tr
              td: +fieldCheckbox('', 'table3', true)
              td Gold Leaf Upcycled Bowl
              td
              td: b $129
            tr
              td: +fieldCheckbox('', 'table4', false)
              td Kerr Optic Umbrella
              td
              td: b $59
            tr
              td: +fieldCheckbox('', 'table5', true)
              td Linear Stem Backpack
              td
              td: b $185
            tr
              td: +fieldCheckbox('', 'table6', false)
              td Odyssey Pack
              td
              td: b $215
        p My precious torso! Alright, I'll get you some stupid food. Dear God, they'll be killed on our doorstep! And there's no trash pickup until January 3rd.
        h6 H6: Free Updates
        p Yes, except the Dave Matthews Band doesn't rock. There's one way and only one way to determine if an animal is intelligent. Dissect its brain! It's just like the story of the grasshopper and the octopus. All year long, the grasshopper kept burying acorns for winter, while the octopus mooched off his girlfriend and watched TV.<br>But then the winter came, and the grasshopper died, and the octopus ate all his acorns. Bender, we're trying our best. Aww, it's true. I've been hiding it for so long.
        .media
          .media__img: img(src="assets/images/logo.png" alt="")
          .media__body
            h6 Jack Shaw
            p Designer, photographer, traveler.
            p.text__sm Website  •  Twitter
        include ../components/_pager
        .section-btn
          .row
            .col.col__sm-3
              h5 Buttons
              ul.list--unstyled
                li: a.btn.btn--primary(href='#') CLICK ME
                li.margtop20: a.btn.btn--primary(href='#') CLICK ME
                li.margtop20: a.btn.btn--primary.active(href='#') CLICK ME
            .col.col__sm-9
              h5 Button Sizes & Variations
              a.btn.btn--default.btn__xs(href='#') Tiny
              a.btn.btn--default.btn__sm(href='#') Small
              a.btn.btn--default(href='#') Standard
              a.btn.btn--default.btn__lg(href='#') Large
              .margtop50
                a.btn.btn--default.btn--round.btn__xs(href='#') Tiny
                a.btn.btn--default.btn--round.btn__sm(href='#') Small
                a.btn.btn--default.btn--round(href='#') Standard
                a.btn.btn--default.btn--round.btn__lg(href='#') Large
        .section-forms
          .row
            .col.col__sm-3
              h5 Ghost Buttons
              ul.list--unstyled
                li: a.btn.btn--outlined(href='#') CLICK ME
                li.margtop20: a.btn.btn--outlined(href='#') CLICK ME
                li.margtop20: a.btn.btn--outlined.active(href='#') CLICK ME
            .col.col__sm-4
              h5 Inputs
              .form__group
                +fieldInput('text', 'name', 'name', '', 'Grade  Kit', 'Grade  Kit', false)
              h5 Dropdowns
              .form__group
                select.control
                  option Dropdown
                  option Dropdown Hover
                  option Dropdown Selected
                  option Dropdown Disabled
              h5 Text Area
              +fieldTextarea('text', 'text', '', 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.', 4, '', false)
            .col.col__sm-4
              h5 Checkboxes & Radio Buttons
              .form__group
                +fieldCheckbox('Checkbox', 'item1', false)
                +fieldCheckbox('Checkbox Selected', 'item2', true)
              .form__group
                +fieldRadio('Radio Button', 'item11', 'radio', false)
                +fieldRadio('Radio Button Selected', 'item12', 'radio', true)
        include ../components/_paginator

    section.headersFooters   
      <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M23.9989 32.4712C23.2224 32.4712 22.5871 31.8359 22.5871 31.0594C22.5871 25.6241 18.14 21.177 12.7047 21.177C11.9283 21.177 11.293 20.5418 11.293 19.7653C11.293 18.9888 11.9283 18.3535 12.7047 18.3535C19.7283 18.3535 25.4106 24.0359 25.4106 31.0594C25.4106 31.8359 24.7753 32.4712 23.9989 32.4712Z" fill="#1F2041" fill-opacity="0.25"/>
      <path d="M36.7068 19.7653C36.7068 20.5418 36.0715 21.177 35.295 21.177C31.9421 21.177 28.9421 22.8712 27.1774 25.4476C26.7892 24.4594 26.3303 23.5418 25.7656 22.6947C28.095 20.0123 31.5186 18.3535 35.295 18.3535C36.0715 18.3535 36.7068 18.9888 36.7068 19.7653Z" fill="#1F2041" fill-opacity="0.25"/>
      <path d="M24 48C10.7647 48 0 37.2353 0 24C0 10.7647 10.7647 0 24 0C37.2353 0 48 10.7647 48 24C48 37.2353 37.2353 48 24 48ZM24 2.82353C12.3176 2.82353 2.82353 12.3176 2.82353 24C2.82353 35.6824 12.3176 45.1765 24 45.1765C35.6824 45.1765 45.1765 35.6824 45.1765 24C45.1765 12.3176 35.6824 2.82353 24 2.82353Z" fill="#1F2041" fill-opacity="0.25"/>
      </svg>
      
      block header
      .uikit__header-wrap
        .uikit__header-login
        include ../partials/_header.pug
        .UIKIT__header-buttons
          a.btn.btn--default.btn--round.btn__xs(href='#') Войти
          a.btn.btn--default.btn--round.btn__xs(href='#') Зарегистрироваться
      .uikit__header-login
        include ../partials/_header.pug
        <span>| Юлий Цезарь </span>
      block footer
      include ../partials/_footer.pug
    

