extends ../layouts/master.pug
//- Custom Configuration
block config
  - var adaptive = true // choose website type
  - var pageTitle = 'UI-kit'

block content
  main.page-main
    .color
      block color
      include ../partials/_color.pug
block footer
  include ../partials/_footer.pug
